# KDE Config File  
[Desktop Entry]
Name=Creox
GenericName=Realtime sound processor
Type=Application
Categories=Qt;KDE;Audio;Music;
Exec=creox -caption "%c" %i %m  
Icon=creox
Comment=The Realtime Sound Effector
Terminal=0
